html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
		
}

a {
  color: inherit;
  text-decoration: none;
}

* {
	margin: 0;
  box-sizing: border-box;
}

li{
	list-style-type: none;
}

.wrapper{
	max-width: 1040px;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(46, 50, 69);
  }
}
